<template name="barChart">
	<p><h4><span class="white text-title" style="padding-right:10px;padding-left:10px;color:#E0E0E0;">D3 RT TBD</span></h4></p>
    <center>
		<svg id="barChart"></svg>
	</center>
</template>

<template name="icicleChart">
	<p><h4><span class="white text-title" style="padding-right:10px;padding-left:10px;"><i class="fa fa-medkit"></i> 23andMe DNA</span></h4></p>
	<center>
		<svg id="icicleChart"></svg>
	</center>
</template>

<template name="geneticChart">
	<center>
		<svg id="geneticChart"></svg>
	</center>
</template>
