<template name="icons">
	<span class="icon-color icon-push fa-stack fa-2x">
		<i class="fa fa-circle-thin fa-stack-2x icon-color"></i>
		<a href="/about">
			<i class="fa fa-user fa-stack-1x icon-white"></i>
		</a>	
  </span>
	<span class="icon-color icon-push fa-stack fa-2x">
		<i class="fa fa-circle-thin fa-stack-2x icon-color"></i>
		<a href="/finance">
			<i class="fa fa-dollar fa-stack-1x icon-white"></i>
		</a>
	</span>
  <span class="icon-color icon-push fa-stack fa-2x">
		<i class="fa fa-circle-thin fa-stack-2x icon-color"></i>
		<a href="/news">
			<i class="fa fa-list-ul fa-stack-1x icon-white"></i>
		</a>
	</span>
	<span class="icon-color icon-push fa-stack fa-2x">
		<i class="fa fa-circle-thin fa-stack-2x icon-color"></i>
		<a href="/sports">
			<i class="fa fa-soccer-ball-o fa-stack-1x icon-white"></i>
		</a>	
	</span>
   <span class="icon-color icon-push fa-stack fa-2x hidden-xs">
		<i class="fa fa-circle-thin fa-stack-2x icon-white"></i>
		<a href="/">
			<i class="fa fa-home fa-stack-1x icon-color"></i>
    </a>
	</span>
</template>