<template name="mbta">
	<body>
		{{> header}}
				<div class="container-fluid" style="border-right:10px; border-left:10px; padding-top:0px;">
			<div class="row well-full">
				<div class="col-md-4 col-lg-4" style="background-color:white; padding-top:0px; padding-right:0px; padding-left:0px;">
					{{#momentum plugin='growl'}}
					{{> wellington}}
					{{/momentum}}
				</div>
				<div class="col-md-4 col-lg-4" style="background-color:white; padding-top:0px; padding-right:0px; padding-left:0px;">
					{{#momentum plugin='growl'}}
					{{> chinatown}}
					{{/momentum}}
				</div>
				<div class="col-md-4 col-lg-4" style="background-color:white; padding-top:0px; padding-right:0px; padding-left:0px;">
					{{#momentum plugin='growl'}}
					{{> downtowncrossing}}
					{{/momentum}}
				</div>
			</div>
			<div class="footer">
				{{> footer}}
			</div>
		</div>
	</body>
</template>
