<template name="projects">
	<body>
		{{> header}}
				<div class="container-fluid black-bg" style="border-right:10px; border-left:10px; border-top:0px;">	
  {{> header}}
  <div>
  <h4><span class="table-thin white">PROJECTS</span></h4>
  <table class="table tron">
      <thead>
        <tr>
          <th class="table-thick">Name</th>
          <th class="hidden-xs table-thick">Description</th>
          <th class="table-thick">Domain</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-data">
            <td>Fantasy All-Star</td>
            <td class="hidden-xs">Fantasy Sports</td>
            <td class="">FantasyAllStar.com</td>
        </tr>
		
        <tr class="table-data">
            <td>Link Debate</td>
            <td class="hidden-xs">Information over Confirmation</td>
            <td class="">LinkDebate.com</td>
        </tr>
		
        <tr class="table-data">
            <td>Place Data</td>
            <td class="hidden-xs">Place-related Data</td>
            <td class="">PlaceData.com</td>
        </tr>
		
      </tbody>  
  </table>
</div>
<div class="footer">
	{{> footer}}
</div>
</div>
</body>
</template>